.Sudoku {
  background-color: black;
  width: 40rem;
  height: 40rem;
  padding: 4px;
  padding-left: 3px;
  display: grid;
  align-items: stretch;
  overflow: hidden;
}
/* 
.GridFrame {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: black;
  gap: 3px;
  /* order: 2; *
}

.GridBox {
  background-color: white;
}

.GridBox:first-of-type {
  /* background-color: yellow; *
} 
*/

.Content {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  /* gap: 3px; */
  /* background-color: grey; */
}
